In [1]:
print("Hello, World!")

Hello, World!

In [3]:
def sum(m, n):
    return m + n

In [5]:
sum (14, 6)

20

In [9]:
for n in range(10):
    print (n * 2)

0
2
4
6
8
10
12
14
16
18